div.red {
    background-color: red;
}

div.black {
    background-color: black;
}

div.yellow {
    background-color: yellow;
}

div.orange {
    background-color: orange;
}

div.green {
    background-color: green;
}

div.white {
    background-color: white;
}

div.skyblue {
    background-color: skyblue;
}