div.code {
    overflow-x: auto;
    overflow-y: auto;
}

div.code-container {
    
}

div.current {
    background-color: grey;
}

div.blank {
    height: 12px;
}

div.indent-0 {
    padding-left: 0px;
}

div.indent-1 {
    padding-left: 20px;
}

div.indent-2 {
    padding-left: 40px;
}

div.indent-3 {
    padding-left: 60px;
}

div.indent-4 {
    padding-left: 80px;
}