div.code {
    background-color: white;
    border-top: solid #111019;
    color: white;
}

div.panel-section {
    border-color: #111019;
}

div.base-plus-2 {
    background-color: #111019;
}

div.base-plus-1 {
    background-color: #211f35;
}

div.base {
    background-color: #2b293b;
}

div.base-sub-1 {
    background-color: #33485d;
}

div.base-sub-2 {
    background-color: #2c4851;
}